header {
  background-color: mintcream;
  border-style: dashed;
  border-width: 1rem;
  border-color:black;
}

#MainTitle {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  color: purple;
}

#duck {
  justify-content: flex-start;
  width: 100;
  height: 100;
}



body {
background-color: blanchedalmond;

}



#img-section {
    display: flex;
    justify-content: space-between;
    border: 1px solid fuchsia;
  }
  
  #img-section img {
    width: 30%;
  }

