
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

header {
  background-color: mintcream;
  border-style: dashed;
  border-width: 1rem;
  border-color:black;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1536532184021-da5392b55da1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMHNreXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80;")

}

#MainTitle {
  font-family: 'Pixelify Sans', cursive;
  font-weight: 700;
  font-size:xx-large;
  color: blanchedalmond;
  justify-content: center;
}
img {
  justify-content: flex-start;
  width: 25%;
  height: 25%;

}



body {
background-color: blanchedalmond;

}

h2 {
  align-items: center;
  font-family: 'Pixelify Sans', cursive; 
}



#img-section {
    display: flex;
    justify-content: space-between;
    border: 15px solid black;
  }
  
  #img-section img {
    width: 30%;
  }

