header {
  background-color: mintcream;
  border-style: dashed;
  border-width: 1rem;
  border-color:black;
  text-align: center;
}

#MainTitle {
  font-family: ;
  font-weight: 700;
  font-size:xx-large;
  color: purple;
  justify-content: center;
}
img {
  justify-content: flex-start;
  width: 25%;
  height: 25%;

}

#sky {
  opacity: 50%;
  background-image: https://images.unsplash.com/photo-1536532184021-da5392b55da1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMHNreXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80;
  height: 100%
}


body {
background-color: blanchedalmond;

}

h2 {
  align-items: center;
}



#img-section {
    display: flex;
    justify-content: space-between;
    border: 15px solid black;
  }
  
  #img-section img {
    width: 30%;
  }

